#outputs {
  display: flex;
  margin-top: 15px;
  border-top: 5px solid black;
}

#vexflowOutput {
  width: 100%;
}

#abcjsOutput {
  width: 100%;
}

#vexflowRendered {
  width: 100%;
}

#abcjsRendered {
  width: 100%;
}

#vexflowRendered svg {
  width: 100%;
}

#abcjsRendered svg {
  width: 100%;
}

#tuneSelect {
  width: 100%;
  height: 80%;
}

#tunebookSelect {
  width: 100%;
  height: 100%;
}
